#                                Github programmes

In [2]:
x=20
y=10
u=(abs(x-y))
v=x+y
z=u*v

In [3]:
r=int(input("enter the radius:"))
h=int(input("enter the height:"))
volume=3.14*r*r*h
surface_area=((2*3.14*r)*h) + ((3.14*r**2)*2)
print(surface_area)
print(volume)

enter the radius:6
enter the height:6
452.15999999999997
678.24

In [4]:
t=int(input("enter temperature in degree celcius"))
v=int(input("enter wind speed km"))
s=13.12 + 0.6215*t - 11.37*v**0.16 + 0.3965*t*v**0.16
print(round(s))

enter temperature in degree celcius22
enter wind speed km3
24

In [5]:
a=int(input("enter the num:"))
if(a>0):
    print("number is positive")
if(a<0):
    print("number is negative")
if(a==0):
    print("zero")

enter the num:5
number is positive

In [6]:
a=int(input("enter the first side:"))
b=int(input("enter the second side:"))
c=int(input("enter the third side:"))
if((a+b>c)and(b+c>a)and(a+c>b)):
    print("the triangle is possible")
else:
    print("the triangle is not possible")

enter the first side:2
enter the second side:3
enter the third side:4
the triangle is possible

In [7]:
num=int(input("enter the number:"))
power=int(input("enter the power:"))
if(power%2==0):
    print("the nth power of a no is even:")
else:
    print("the nth power of a no is odd:")

enter the number:6
enter the power:3
the nth power of a no is odd:

In [1]:
date=int(input("enter the date:"))
month=int(input("enter the month:"))
year=int(input("enter the year:"))
age=2023-year
if(age>60):
          print("the fare will be",1020-1020*(20/100))
          
else:
    print("the fare will be",1020)

enter the date:04
enter the month:10
enter the year:2004
the fare will be 1020

In [2]:
def is_pythagorean_triple(n1, n2, n3):
    if (n1**2 + n2**2 == n3**2):
        return 1
    else:
        return 0

n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))
n3 = int(input("Enter the third number: "))

result = is_pythagorean_triple(n1, n2, n3)
print(result)

Enter the first number: 3
Enter the second number: 4
Enter the third number: 5
1

In [3]:
name=input("enter the name")
age=int(input("enter the age"))
weight=float(input("enter the weight"))
if(age>18)and(weight>40):
             print("1")
else:
    print("0")

enter the namerasitha
enter the age18
enter the weight55
0

In [ ]:
salary=int(input("enter the salary"))
year=int(input("enter the year service"))
if(year>10):
    print("the bonus is",salary-salary*(10/100))
if(year>6)and(year<10):
    print("the bonus is",salary-salary*(8/100))
else:
    print("the bonus is",salary-salary*(5/100))

enter the salary5000

In [5]:
name=input("enter the name:")
age=int(input("enter the age"))
gender=input("enter the gender")
g=gender.upper()
days=int(input("no of days"))
if(age>=18)and(age<30)and(gender=="M"):
    print("the wages will be",days*700)
if(age>=18)and(age<30)and(gender=="F"):
    print("the wages will be",days*750)
if(age>=30)and(age<=40)and(gender=="M"):
    print("the wages will be",days*800)
if(age>=30)and(age<=40)and(gender=="F"):
    print("the wages will be",days*800)

enter the name:rasitha
enter the age18
enter the genderF
no of days60
the wages will be 45000

In [6]:
bill=int(input("enter the bill amount"))
food=int(input("enter the food rating"))
service=int(input("enter the service rating"))
ambience =int(input("enter the ambience rating"))
if((food==4)or(food==5)):
    if((service==(4 or 5))and(ambience==(4 or 5))):
        print("the tip is",bill*(10/100))
    else:
        print("the tip is",bill*(5/100))
if((food==1)or(food==2)or(food==3)):
    if((service==(4 or 5))and(ambience==(4 or 5))):
        print("the tip is",bill*(5/100))
    else:
        print("the tip is",bill*(1/100))

enter the bill amount1800
enter the food rating5
enter the service rating5
enter the ambience rating5
the tip is 90.0

In [7]:
def is_leap_year(year):
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False

year = int(input("Enter a year: "))

if (is_leap_year(year)):
    print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

Enter a year: 2004
2004 is a leap year.

In [8]:
start=int(input("enter start "))
end=int(input("enter ending part"))
even=0
odd=0
for i in range (start,end+1):
    if(i%2==0):
        even=even+1
    else:
        odd=odd+1
print("even=",even)
print( "odd=",odd)

enter start 2
enter ending part10
even= 5
odd= 4

Write a program to display the factors of a given number.
Sample Input
56
Sample output
1, 2, 4, 7, 8, 14, 28, 56

In [9]:
x=int(input("enter no."))
print("The factors of",x,"are:")
for i in range(1, x + 1):
       if x % i == 0:
           print(i)

enter no.56
The factors of 56 are:
1
2
4
7
8
14
28
56

Write a program to display the prime in the given range.
Sample Input
1
10
Sample Output
2 , 3 , 5 , 7

In [10]:
min = int(input("Enter the min : "))
max = int(input("Enter the max : "))
for n in range(min,max + 1):
   if n > 1:
       for i in range(2,n):
           if (n % i) == 0:
               break
       else:
           print(n)

Enter the min : 1
Enter the max : 10
2
3
5
7

Write a program to display the multiplication table as below
Sample Input
5
Sample Output
5 * 1 = 5
5 * 2 = 10
.
.
5 * 10 = 50

In [11]:
n=int(input("enter the number"))
for i in range (1,10+1):
    print(n,"*",i,"=",n*i)

enter the number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Write a program to display the multiplication table as below with a given range
Sample Input
Start Table : 5
End Table: 8
Sample Output
5 * 1 = 5 6 * 1 = 6 7 *1 = 7 8*1 = 8
5 * 2 = 10 6*2 = 12 7*2=14 8*2= 16
.
.
5 * 10 = 50

In [15]:
starttable=int(input("enter the starting table:"))
endtable=int(input("enter the ending table:"))
for  i in range (1,10+1):
    for j in range (starttable,endtable+1):
        print(j,"*",i,"=",i*j)

enter the starting table:5
enter the ending table:8
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80

Write a program to display the multiplication table as below with a given range
Sample Input
Start Table : 5
End Table: 8
Sample Output:
5*1 = 5
.
.
5 * 5 = 25
6*1 = 6
.
.
.
6*6=36
7*1=7
.
.
.
7*7=49
8*1=8
.
.
8*8=64

In [13]:
start=int(input("enter the start point:"))
end=int(input("enter the end point:"))
for i in range (start,end+1):
    for j in range(1,i+1):
        print(i,"*",j,"=",i*j)

enter the start point:5
enter the end point:8
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64

Write a program that displays a temperature conversion table for degrees Celsius
and degrees Fahrenheit. The table should include rows for all temperatures
between 0 and 100 degrees Celsius that are multiples of 10 degrees Celsius.
Include appropriate headings on your columns. The formula for converting
between degrees Celsius and degrees Fahrenheit
Sample Output
Celsius Fahrenheit
0 32.0
10 50.0
20 68.0
30 86.0
40 104.0
50 122.0
60 140.0
70 158.0
50 176.0
90 194.0
100 212.0

#